{% extends templateBasePath %}
{% import templateMacrosPath as macros %}

{% block recipient_business_info %}
    {% if order.customerAccount and order.customerAccount.uid %}
        UID: {{ order.customerAccount.uid|default('-') }} |
        TEL: {{ order.customerAccount.mainPhone|default('-') }}
    {% endif %}
{% endblock %}

{% block recipient %}
    <div class="">
        {{ recipient.accountName }}<br/>
        <span class="bold">
            {{ recipient.firstName }} {{ recipient.lastName }}
        </span><br/>
        {{ recipient.street }} {{ recipient.number }}<br/>
        {{ recipient.zip }} {{ recipient.city }}<br/>
        {{ recipient.country|upper }}
    </div>
{% endblock %}

{% block responsibleperson  %}
    {% if customerContact %}
        <b>Besteller</b><br/>
        {{ customerContact.fullName }}<br/>
        {% if customerContact.mainPhone %}
            Tel: {{ customerContact.mainPhone }}<br/>
        {% endif %}
        {% if customerContact.mainFax %}
        Fax: {{ customerContact.mainFax }}<br/>
        {% endif %}
        {% if customerContact.mainEmail %}
            {{ customerContact.mainEmail }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block pdf_title %}
    {% if order.type and order.type.id > 1 %}
        Shop-Bestellung {{ order.number }}
    {% else %}
        Bestellung {{ order.number }}
    {% endif %}
{% endblock %}

{% block invoice_address %}
    <div class="grid__item four-tenths">
        <p class="paragraph">
            <span class="bold">Rechnungsadresse:</span><br/>
            {{ billingAddress.accountName }}<br/>
            {% if billingAddress.firstName or billingAddress.lastName %}
                <span class="bold">
                    z.H. {{ billingAddress.firstName }} {{ billingAddress.lastName }}
                </span><br/>
            {% endif %}
            {{ billingAddress.street }} {{ billingAddress.number }}<br/>
            {{ billingAddress.zip }} {{ billingAddress.city }}<br/>
            {{ billingAddress.country|upper }}
        </p>
        <p>
            {% if billingAddress.uid %}
                UID: {{ billingAddress.uid }}<br/>
            {% endif %}
            {% if billingAddress.mainPhone is defined and billingAddress.mainPhone %}
                Tel: {{ billingAddress.mainPhone }}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block orderdetails %}
    <div class="grid__item three-tenths">
        {% if order.orderNumber %}
            <p>
                Angebotsnummer:<br/>
                {{ order.orderNumber }}
            </p>
        {% endif %}
        {% if customerNumber %}
            <p>
                Kundennummer:<br/>
                {{ customerNumber }}
            </p>
        {% endif %}
        {% if order.orderDate %}
            <p>
                Bestelldatum:<br/>
                {{ order.orderDate.date|date('d.m.Y') }}
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block shippingdetails %}
    <div class="grid__item three-tenths">
        {% if order.costCentre %}
            <p>
                Kostenstelle:<br/>
                {{ order.costCentre }}
            </p>
        {% endif %}
        {% if order.commission %}
            <p>
                Kommission:<br/>
                {{ order.commission }}
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block shippingdetails_addressnote_title %}
    <span class="bold">Standard-Lieferadresse:</span>
{% endblock %}

{% block shippingdetails_addressnote_content %}
    {{ macros.parseOrderAddress(recipient) }}
{% endblock %}

{% block productlist_items %}
    {% for item in itemApiEntities %}
        {{ macros.item(loop.index, item, website_locale) }}
    {% endfor %}
{% endblock %}

{% block productlist_footer_netshippingcosts_value %}
    {{ orderApiEntity.netShippingCostsFormatted|default('-') }}
{% endblock %}

{% block productlist_footer_total_value %}
    {{ orderApiEntity.getTotalNetPriceFormatted(website_locale)|default('-') }}
{% endblock %}

{% block payment_terms %}
    {{ order.termsOfPayment.terms|default('-') }}
{% endblock %}

{% block delivery_terms %}
    {{ order.termsOfDelivery.terms|default('-') }}
{% endblock %}

{% block note_bonus %}
    {{ internal.bonusConditions|default('-') }}
{% endblock %}

{% block sender %}
    {% if customerContact %}
        {{ customerContact.fullName }}
    {% else %}
        {{ recipient.accountName }}
    {% endif %}
{% endblock %}
